<nav class="sidebar">
  <ul>
    <li>
      <a href="/catalog">Home</a>
    </li>
    <li>
      <a href="/catalog/items">All items</a>
    </li>
    <li>
      <a href="/catalog/categories">All categories</a>
    </li>
    <li>
      <a href="/catalog/item/create">Create a new item</a>
    </li>
    <li>
      <a href="/catalog/category/create">Create a new category</a>
    </li>
  </ul>
</nav>
